@font-face {
    font-family: nms;
    src: url(fonts/geonms-font.ttf);
}

* {
    font-family: 'Josefin Sans', sans-serif;
    color: black;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* ENTIRE DOCUMENT */
:root {
    --bg-dark:  hsl(0,0%,5%);
    --bg-mid:   hsl(0,0%,10%);
    --bg-light: hsl(0,0%,15%);

    --text-norm: hsl(0,0%,80%);
    --text-dark: hsl(0,0%,70%);

    --danger:  hsl(8 79% 66%);
    --warning: hsl(54 100% 31%);
    --success: hsl(156 68% 43%);
    --info:    hsl(217 94% 69%);

    --primary: hsl(0, 88%, 39%);

    --highlight: hsl(183 100% 10%);
    --border: hsl(184, 100%, 25%);
    --border-muted: hsl(185, 100%, 17%);
}
body {
    background: var(--bg-dark);
}
p {
    color: var(--text-norm);
}

/* HEADER BAR */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    gap: 3rem;
    padding: 1rem;

    background: #990000;
    box-shadow: 0 0 5px 1px #000000;
}
header a {
    text-decoration: none;
    cursor: pointer;
}
header p {
    color: black;
    font-family: 'JetBrains Mono', sans-serif;
}
header p:hover {
    color: red;
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    padding: 1rem;
}
h1 {
    padding: 1rem;

    color: #BB0000;
    font-family: nms, sans-serif;
    font-size: 2.5rem;
}
.main-content {
    display: flex;
    gap: 1.8rem;
    padding: 3rem;
    align-items: top;
    justify-content: center;

    background: var(--bg-mid);
    border: solid;
    border-color: var(--border-muted);
    border-radius: 50px;
}
.calc {
    display: flex;
    gap: 1rem;
}
.input-labels {
    display: flex;
    flex-direction: column;
    gap: 47px;

    font-size: 1.2rem;
}
.input-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-fields div{
    display: flex;
    gap: 10px;
}
.input-fields input {
    height: 40px;
    width: 100px;

    font-size: 1.3rem;
    color: var(--text-norm);
    text-align: center;

    background-color: var(--bg-light);
    border: solid;
    border-color: var(--border);
    border-radius: 10px;
}
.input-fields input:hover {
    box-shadow: 0px 0px 3px white;
}
.input-fields input:focus-within {
    box-shadow: 0px 0px 8px white;
}
#dist {
    width: 210px;
}
.calc-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.calc-buttons button {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;

    border: solid;
    border-radius: 1rem;
    font-size: 1rem;
}
.calc-buttons button:hover {
    box-shadow: 0px 0px 10px var(--primary);
    cursor: pointer;
}
#locate-button {
    gap: 0.5rem;
    align-items: center;

    background: var(--primary);
    border-color: var(--border-muted);
}
#locate-button:hover {
    border-color: var(--border);
}
#locate-button i {
    color: var(--text-norm);
}
#clear-button {
    background: var(--bg-light);
    border-color: var(--primary);
}
#clear-button:hover {
    border-color: var(--danger);
}