@font-face {
    font-family: nms;
    src: url(fonts/geonms-font.ttf);
}

* {
    font-family: 'Ubuntu', sans-serif;
    color: black;

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* ENTIRE DOCUMENT */
:root {
    --bg-dark:  hsl(0,0%,5%);
    --bg-mid:   hsl(0,0%,10%);
    --bg-light: hsl(0,0%,15%);

    --text-norm: hsl(0,0%,95%);
    --text-dark: hsl(0,0%,70%);

    --danger:  hsl(8 79% 66%);
    --warning: hsl(54 100% 31%);
    --success: hsl(156 68% 43%);
    --info:    hsl(217 94% 69%);

    --primary: hsl(0, 88%, 39%);

    --highlight: hsl(183 100% 10%);
    --border: hsl(184 100% 16%);
    --border-muted: hsl(185 100% 10%);
}
body {
    background: var(--bg-dark);
}
p {
    color: var(--text-norm);
}

/* HEADER BAR */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    gap: 1rem;
    padding: 1rem;

    background: #990000;
    box-shadow: 0 0 5px 1px #000000;
}
header a {
    text-decoration: none;
    cursor: pointer;
}
header p {
    color: black;
}
header p:hover {
    color: red;
}


/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    padding: 1rem;
}
h1 {
    color: #BB0000;
    font-family: nms, sans-serif;
    font-size: 2.5rem;
}
.main-content {
    display: flex;
    gap: 1.8rem;

    align-items: top;
    justify-content: center;
}